@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist);
}

body {
  font-family: var(--font-sans), "PingFang SC", "Microsoft YaHei", sans-serif;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db transparent;
}
